body{ 
    background-color: #141414;
    font-family:Roboto;
    color: #F6F6F6;
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-Thin.ttf);
}


.name, .rep, .weight{
    padding: 10px;
    color: #F6F6F6;
    background-color: black;
    font-family: Roboto;
    border-color: #F6F6F6;
    border-width: 1px;
    border-style: solid;
}

::placeholder{
    color: #F6F6F6;
}

.workout_button, .export_button{
    padding: 10px;
    color: #F6F6F6;
    background-color: black;
    font-family: Roboto;
    border-color: #F6F6F6;
    border-width: 1px;
    border-style: solid;
}

.workout_list{
    padding-top: 5px;

}
.wrap{
    border-color: #F6F6F6;
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    margin-bottom: 5px;
    position: relative;
}

.delete_button{
    color: #F6F6F6;
    background-color: black;
    font-family: Roboto;
    border-color: #F6F6F6;
    border-width: 1px;
    border-style: solid;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}