:root {
    --main-color: #141414;
    --line-color: #F6F6F6;
  }
  
body{ 
    background-color: var(--main-color);
    font-family:Roboto;
    color: var(--line-color);
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-Thin.ttf);
}

.wtf{
    border-color: var(--line-color);
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    margin-bottom: 5px;
}
.today{
    font-size: small;
    margin-bottom: 5px;
}
.wtf2{
    border-color: var(--line-color);
    border-width: 1px;
    border-style: solid;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
}

.name,.rep{
    padding: 10px;
    color: var(--line-color);
    background-color: var(--main-color);
    font-family: Roboto;
    border-color: var(--line-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    margin-bottom: 5px;
    box-sizing: border-box;
    width:100%;
    font-size:small;
}

.weight{
    padding: 10px;
    color: var(--line-color);
    background-color: var(--main-color);
    font-family: Roboto;
    border-color: var(--line-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    box-sizing: border-box;
    width:100%;
    font-size:small;
}

::placeholder{
    color: var(--line-color);
}

.workout_button{
    padding: 10px;
    color: var(--line-color);
    background-color: var(--main-color);
    font-family: Roboto;
    border-color: var(--line-color);
    border-width: 1px;
    border-style: solid;
    display: flex;
    margin-right: 5px;
    font-size:small;
}

.clear_button{
    padding: 10px;
    color: var(--line-color);
    background-color: var(--main-color);
    font-family: Roboto;
    border-color: var(--line-color);
    border-width: 1px;
    border-style: solid;
    display: flex;
    font-size:small;
}

.button_wrap {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.button_wrap_p2 {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.import_button, .export_button, .stats_button, .input_button{
    padding: 10px;
    color: var(--line-color);
    background-color: var(--main-color);
    border-color: var(--line-color);
    border-width: 1px;
    border-style: solid;
    font-family: Roboto;
    display: flex;
    font-size: small;
}
.input_button{
    display:none;
}
.import_button{
    
    margin-right: 5px;
}
.export_button{
    margin-right: 5px;
    
}


.workout_list{
    padding-bottom: 5px;

}
.wrap{
    border-color: var(--line-color);
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    margin-bottom: 5px;
    position: relative;
    font-size: small;
}

.delete_button{
    color: var(--line-color);
    background-color: var(--main-color);
    font-family: Roboto;
    border-color: var(--line-color);
    border-width: 1px;
    border-style: solid;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.hamburger_button{
    color: var(--line-color);
    background-color: var(--main-color);
    border-color: var(--line-color);
    border-width: 1px;
    border-style: solid;
    font-family: Roboto;
    font-size:large;
    width: 30px;
    height: 30px;
    padding: 0px;
    text-align: center; 
    vertical-align:middle;
}

